.main-1 {
  display: flex;
  flex-direction: column;
  height: 580px;
  background: cover no-repeat;
  background-image: url("movies.png");
  justify-content: center;
  align-items: center;
}
.title-main-1 {
  font-size: 60px;
  color: white;
}
.seacrh {
  width: 1000px;
}
