.single-movie-page{
  width : 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.moviePage-child{
  width : 80%;
  padding: 180px 0 0 5vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap : 3vw;
}
.column2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width : 100%;
  justify-content: space-around;
}
.date-rate{
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}
.title{
  font-size: 4vw;
}
.overview{
  font-size: 1.2em;
}