.main {
  padding-left: 80px;
  width:auto;
  position: relative;
  margin-top: 78px;
  height: max-content;
  display: flex;
  align-items: center;
  -ms-grid-column-align: center;
}
.moviePage{
  margin-top: 78px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-left : 10px;
}
.margins{
  margin-top: 100px;
}
.column2{
  /* margin-left : 10px; */
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 900px;
}
.image-size{
  height: 300px;
  width: 500px;
}
.parent-flex{
  display: flex;
  flex-wrap: wrap;
}
.child-flex-item{
  margin-right: 10px;
  margin-bottom: 10px;
}
.card-back{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 350px;
  justify-content: space-evenly;
}
.rating{
  color : red;
}
.label-back-card{
  font-size: 20px;
}